<div class="container">
  <h1><%= @list.name %></h1>
   <%= link_to lists_path, class: "text-decoration-none" do %>
    <p><i class="fa-solid fa-rotate-left"></i> back to lists</p>
  <% end %>
  <%= link_to new_list_bookmark_path(@list), class: "text-decoration-none" do %>
    <p><i class="fa-solid fa-plus"></i> add a movie</p>
  <% end %>
  <div class="cards">
      <% @movies.each do |movie| %>
      <div class="card-trip">
        <img src="<%=movie.poster_url%>" />
        <div class="card-trip-infos">
        <div>
          <h2><%= movie.title %> - <%= movie.rating.round(2) %></h2>
          <p><%= movie.overview %></p>
        </div>
        <%= link_to bookmark_path(Bookmark.find_by(movie_id: movie.id, list_id: @list.id)), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <h2 class="card-trip-pricing card-trip-user" style="text-danger"><i class="fa-solid fa-trash"></i></h2>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
