<div class="container">
  <h1>Add a new movie to <em><%=@list.name%></em></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-danger mb-3 text-light" %>
  <% end %>
  <%= link_to list_path(@list), class: "text-decoration-none mt-3" do %>
      <p><i class="fa-solid fa-rotate-left"></i> back to lists</p>
  <% end %>
</div>
