<!DOCTYPE html>
<html>
  <head>
    <title>Yu's Watch List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <%= link_to lists_path, class: "text-decoration-none navbar-brand" do %>
        <%= image_tag "logo.png", size: "30", alt: "text", class: "ms-3 d-inline-block align-top" %>
        Yu's Watch List
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
